.navbar {
    background-color: #e8cc4d;
}

.navbar a{
    display:inline-block;
    padding: 15px;
    background-color: #e8cc4d;
    color:#3a3731;
    text-decoration: none;
}
.navbar a:hover{
    color:#e8cc4d;
    background-color: #3a3731;
}